<nav class="nav-bar d-flex is-between is-align-center">
  <div
    class="is-relative center-block flex-column"
    routerLink="/home"
    routerLinkActive="active"
  >
    <a class="nav-link" data-content="HOME">HOME</a>
    <span class="nav-hidden">HOME</span>
  </div>
  <a [routerLink]="" class="nav-logo">CONNECT 4 <span>&copy;</span></a>
  <div
    class="is-relative center-block flex-column"
    routerLink="/rules"
    routerLinkActive="active"
  >
    <a class="nav-link" data-content="HOME">RULES</a>
    <span class="nav-hidden">RULES</span>
  </div>
</nav>
