*{
    margin: 0;
    
}
body{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #4183dc 0%, rgba(36,98,128,1) 100%);
}
.game{
    position: relative;
}
table{
    border: 2px solid #000;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-spacing: 0.5em;
    background:#002ae0;
    z-index: 1;
}
.circle {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius:50%;
    filter: blur(.5px);
    background:radial-gradient(circle at 20px 10px,#aed1f2 10%,#234169);
    z-index:-1;
}
.one{
    top:-50px;
    left:-20px;
    width: 90px;
    height: 90px;
}

.two{
    top:-50px;
    right:-20px;
    width: 100px;
    height: 100px;
}
.three{
    bottom:-50px;
    left:0px;
    width: 80px;
    height: 80px;
}
.four{
    bottom:-10px;
    right:-50px;
}
tr, td{
    border: 3px solid rgba(255, 255, 255, 0.12);
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
td{
    margin: 2rem;
    box-shadow: -3px -2px 1px rgba(255, 255, 255, 0.178) inset,3px 2px 1px rgba(0, 0, 0, .3) inset;
    /*border: 3px solid rgba(36,98,128,1);
*/background:#000000c2;
}

