<div class="container-medium center-block" [ngClass]="{'flex-column': endGame}">
  @if (!start) {
  <div class="settings" [ngClass]="{ appear: !start }">
    <app-game-setting
      (isBotBegin)="getIfBotBeginSetting($event)"
      (tileColor)="getUserTileColor($event)"
      (start)="startTheGame($event)"
    />
  </div>
  } @else { @if (initRound) {
  <h1 class="white center-block">
    <span>Round {{ round }}</span>
  </h1>
  } @else {
  <div class="score center-block flex-column">
    <h4 class="white">ROUND</h4>
    <app-game-score
      [round]="round"
      [gameScore]="gameScore"
      [winnerColor]="winnerColor"
    />
  </div>
    <div class="game">
      @if(winner != null) {
      <h1 class="white">
        <span>{{ winner != null ? winner + " wins" : "It's a draw" }}</span>
      </h1>
      }
    
      @if (!endGame) {
      <app-game-board
        [turn]="isBotBegin"
        [userColor]="gameScore[0].color"
        [botColor]="gameScore[1].color"
        (gameScore)="setGameScore($event)"
        (isGameOver)="gameOver($event)"
      />}
      @else {
        <div class="btn center-block" (click)="restartGame()">
          <span class="white center-block">RESTART</span>
        </div>
      }
    </div>
  } }
</div>
