<main class="main {{ bgColor }}">
  <div class="d-flex flex-column content">
    <app-header />
    <router-outlet></router-outlet>
    <input type="checkbox" name="" id="hideCard" />
    <label for="hideCard" class="button">
      <span></span>
      <span></span>
    </label>
    <div class="center-block flex-column">
      <span>Change background</span>
      <div class="card">
        @for (item of allColors; track $index) {
        <div class="item {{ item }}" (click)="selectNewBgColor(item)"></div>
        }
      </div>
    </div>
  </div>
  <p class="white copyright">&copy; Coder par Jordaniella</p>
</main>
