.main,
.item {
  &.green {
    background: linear-gradient(45deg, #0097b2, #7ed957);
  }
  &.blue {
    background: linear-gradient(45deg, #5dee, #004aad);
  }
  &.yellow-pink {
    background: linear-gradient(45deg, #fbd447, #e22962);
  }
  &.blue-pink {
    background: linear-gradient(45deg, #cb6be6, #004aad);
  }
  &.normal {
    background: linear-gradient(45deg, #ff5757, #8c52ff);
  }
  &.dark {
    background: linear-gradient(45deg, #451336, #004767);
  }
}
.main {
  min-height: 100vh;
}
.card {
  position: fixed;
  bottom: 0;
  right: 0;
  width: clamp(200px, 100%, 300px);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  transform: scale(0);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transform-origin: bottom right;
}
label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 100% 0% 70% 30% / 100% 100% 0% 0%;
  z-index: 2;
  &:hover {
    cursor: pointer;
  }
}
input {
  display: none;
}
input:checked + .card {
  transform: scale(1);
}
.item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
