.main,
.item {
  &:hover {
    cursor: pointer;
  }
  box-shadow: -3px -2px 1px rgba($color: #ffffff, $alpha: 0.178) inset,
    3px 2px 1px rgba($color: #000000, $alpha: 0.1) inset;
  &.green {
    background: linear-gradient(45deg, #0097b2, #7ed957);
  }
  &.blue {
    background: linear-gradient(45deg, #004aad, #5dee);
  }
  &.yellow-pink {
    background: linear-gradient(45deg, #e22962, #fbd447);
  }
  &.blue-pink {
    background: linear-gradient(45deg, #004aad, #cb6be6);
  }
  &.normal {
    background: linear-gradient(45deg, #ff5757, #8c52ff);
  }
  &.dark {
    background: linear-gradient(45deg, #451336, #004767);
  }
}
.main,
.content {
  min-height: 100vh;
}
.content {
  padding: 40px;
  gap: 2em;
}
.center-block.flex-column {
  position: fixed;
  bottom: 0;
  right: 0;
  width: clamp(200px, 100%, 300px);
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  padding: 1.5rem;
  transform-origin: bottom right;
  transform: scale(0);
  transition: transform 500ms ease;
  z-index: 888;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 100% 0% 70% 30% / 100% 100% 0% 0%;
  z-index: 999;
  gap: 10px;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-right: 10px;
  span {
    width: 50%;
    height: 3px;
    background: #000000;
    display: block;
    transform: rotate(0) translate(0, 0);
    transition: transform 300ms ease;
  }
  &:hover {
    cursor: pointer;
  }
}
input {
  display: none;
}
input:checked + .button {
  span:first-child {
    transform: rotate(45deg) translate(2px, 5px);
  }
  span:last-child {
    transform: rotate(-45deg) translate(4px, -8px);
  }
}
input:checked ~ .center-block {
  transform: scale(1);
}
.item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.copyright {
  position: absolute;
  bottom: 20px;
  left: 45%;
  @media (width < 980px)  {
    left: min(12em, 30%);
  }
}