<main class="main center-block">
  <div class="card">
    <h1 class="white">RULES:</h1>
    <ul class="white">
      <li class="heading">
        <strong>Objective:</strong>
        <ul>
          <li>
            The objective of Connect Four is to be the first player to form a
            horizontal, vertical, or diagonal line of four of one's own discs
            while playing against an AI opponent.
          </li>
        </ul>
      </li>
      <li class="heading">
        <strong>Setup:</strong>
        <ul>
          <li>
            The game is played on a vertical board with 7 columns and 6 rows.
          </li>
          <li>
            Each player, including the AI, chooses a color and is given 21 discs
            of that color.
          </li>
          <li>The board starts empty.</li>
        </ul>
      </li>
      <li class="heading">
        <strong>Gameplay:</strong>
        <ul>
          <li>
            You and the AI take turns dropping one of your discs from the top
            into any of the seven columns.
          </li>
          <li>
            The disc will fall straight down to the lowest available space
            within the column.
          </li>
          <li>
            You win by connecting four of your discs consecutively in a
            horizontal, vertical, or diagonal line before the AI does.
          </li>
          <li>
            If the board fills up before either player achieves four in a row,
            the game is a draw.
          </li>
        </ul>
      </li>
      <li class="heading">
        <strong>Winning the Game:</strong>
        <ul>
          <li>
            The first player to connect four discs in a row (horizontally,
            vertically, or diagonally) wins the game.
          </li>
          <li>
            If all 42 spaces are filled without a player connecting four in a
            row, the game ends in a draw.
          </li>
        </ul>
      </li>
      <li class="heading">
        <strong>Strategy Tips:</strong>
        <ul>
          <li>
            Stay one step ahead of the AI by predicting its moves and blocking
            its attempts to connect four.
          </li>
          <li>
            Create multiple opportunities for connecting four discs in different
            directions, making it harder for the AI to block all your moves.
          </li>
          <li>
            Controlling the center of the board can give you an advantage, as it
            offers more opportunities to connect four.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</main>
