<div class="board">
  <div class="center-block flex-column">
    <div class="game" [ngClass]="{ disable: disabledBoard }">
      @for (item of grid; track $index; let i = $index) {
      <div class="lines center-block">
        @for (content of item; track $index) { @if (!disabledBoard) {
        <div class="cols rounded" (click)="addTile($index)">
          <div
            class="tile rounded"
            [ngClass]="{
              red: grid[i][$index] == 'red',
              yellow: grid[i][$index] == 'yellow',
              blue: grid[i][$index] == 'blue',
              white: grid[i][$index] == 'white',
              green: grid[i][$index] == 'green',
            }"
          ></div>
        </div>
        } @else {
        <div class="cols rounded">
          <div
            class="tile rounded"
            [ngClass]="{
              red: grid[i][$index] == 'red',
              yellow: grid[i][$index] == 'yellow',
              blue: grid[i][$index] == 'blue',
              white: grid[i][$index] == 'white',
              green: grid[i][$index] == 'green',
            }"
          ></div>
        </div>
        } }
      </div>
      }
    </div>
    @if (!turn) {
    <p class="white">It's your turn now</p>
    }
  </div>
</div>
