/* You can add global styles to this file, and also import other style files */
:root {
    --section-padding: clamp(5em, 21vh, 12em);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "poppins";
    src: url("../src/assets/fonts/Poppins-Regular.ttf");
}
body {
    font-family: "poppins";
}
.container {
    margin: 0 auto;
    padding-top: var(--section-padding);
}
a {
    text-decoration: none;
}
.is-relative {
    position: relative;
}
.rounded {
    border-radius: 50%;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.is-between {
    justify-content: space-between;
}
.is-align-center {
    align-items: center;
}
.white {
    color: #FFFFFF;
}