/* You can add global styles to this file, and also import other style files */
:root {
  --section-padding: clamp(2em, 10vh, 12em);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "poppins";
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
}
body {
  font-family: "poppins";
}
.container {
  margin: 0 auto;
  padding: var(--section-padding) 0;
}
a {
  text-decoration: none;
}
.is-relative {
  position: relative;
}
.rounded {
  border-radius: 50%;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-between {
  justify-content: space-between;
}
.is-align-center {
  align-items: center;
}
.white {
  color: #ffffff;
}

@keyframes disapparate {
  0% {
    transform: rotate(0) scale(1);
  }

  5% {
    transform: rotate(5deg) scale(0.99);
  }

  10% {
    transform: rotate(-5deg) scale(0.98);
  }

  15% {
    transform: rotate(5deg) scale(0.97);
  }

  20% {
    transform: rotate(-5deg) scale(0.96);
  }

  25% {
    transform: rotate(5deg) scale(0.95);
  }

  30% {
    transform: rotate(-5deg) scale(0.94);
  }

  35% {
    transform: rotate(5deg) scale(0.93);
  }

  40% {
    transform: rotate(-5deg) scale(0.92);
  }

  45% {
    transform: rotate(5deg) scale(0.91);
  }

  49.99% {
    opacity: 1;
    transform: rotate(0) scale(0.9);
  }

  50% {
    opacity: 0.1;
    transform: rotate(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes apparate {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  5% {
    transform: scale(1.05) rotate(5deg);
  }

  10% {
    transform: scale(1.1) rotate(-5deg);
  }

  15% {
    opacity: 1;
    transform: scale(1.15) rotate(0deg);
  }

  100% {
    transform: scale(1);
  }
}
